<%

const { title, metadata } = htmlWebpackPlugin.options;

%>

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>

    <title><%= title %></title>

    <% if (metadata) { %>
      <% if (metadata.description) { %>
        <meta name="description" content="<%= metadata.description %>">
      <% } %>

      <% if (metadata.author) {
        let author = '';

        if (metadata.author.name) {
          author += metadata.author.name;
        }

        if (metadata.author.email) {
          author += author.length > 0
            ? `<${metadata.author.email}>`
            : metadata.author.email;
        }

        if (metadata.author.url) {
          author += author.length > 0
            ? `(${metadata.author.url})`
            : metadata.author.url;
        }

        if (metadata.length === 0) {
          author = metadata.author;
        }
      %>
        <meta name="author" content="<%= author %>">
      <% } %>
    <% } %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div id="container">
      <p>Loading...</p>
    </div>
  </body>
</html>
